<!doctype html>
<html ng-app="testApp">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <div class="container container-fluid" ng-controller="SearchController as ctrl">
      <div class="row">
        <div class="col-sm-6">
          <h2>People Search</h2>
          
          <div class="input-group">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    {{ ctrl.viewInactive ? ctrl.displayList.length : ctrl.displayActiveCount }}
                    /
                    {{ ctrl.viewInactive ? ctrl.people.length : ctrl.totalActiveCount }}
              </button>
              <div class="dropdown-menu">
                <a class="list-group-item" href="javascript:;" ng-class="{active: ctrl.viewInactive}" ng-click="ctrl.toggleInactive()">Toggle Deleted</a>
              </div>
            </div>
            
            <input id="search-input" class="form-control" ng-model="ctrl.nameSearch" ng-change="ctrl.search()"/>
            
            <div class="input-group-btn">
              <button class="btn btn-default" ng-click="ctrl.clearSearch()">Clear</button>
            </div>
          </div>
          
        
          <div class="list-group" id="userList" ng-repeat="person in ctrl.displayList">
            <a class="list-group-item" id="{{ person.id }}" ng-if="person.active || ctrl.viewInactive" ng-click="ctrl.selectPerson(person.id)">
                  {{ person.first }} {{ person.last }}
            </a>
          </div>
          
        </div>
        <div class="col-sm-6" ng-if="ctrl.person.id">
          <h2>Add/Edit Form</h2>
          <br/>
          
          <form>
              <div class="form-group">
                <label for="userId">ID: {{ ctrl.person.id }}</label>
              </div>
              <div class="form-group">
                <label for="first">First Name</label>
                <input class="form-control" ng-model="ctrl.person.first" id="first"/>
              </div>
              <div class="form-group">
                <label for="last">Last Name</label>
                <input class="form-control" ng-model="ctrl.person.last" id="last"/>  
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" ng-model="ctrl.person.email" id="email"/>
              </div>
              <div class="form-group">
                <label for="phone">Phone #</label>
                <input class="form-control" ng-model="ctrl.person.phone" id="phone"/>  
              </div>
              <div class="form-group">
                <label class="radio-inline">
                  <input type="radio" ng-model="ctrl.person.active" ng-value="true" ng-change="ctrl.updateActiveCount(1)" name="isActive" />
                  Active
                </label>
                <label class="radio-inline">
                  <input type="radio" ng-model="ctrl.person.active" ng-value="false" ng-change="ctrl.updateActiveCount(-1)" name="isActive" />
                  Inactive
                </label>
              </div>
          </form>
          
          <button class="btn btn-primary" ng-if="ctrl.isEditing" ng-click="ctrl.back()">Back</button>
        </div>
      </div>
    </div>
  </body>
</html>